.add-product-form {
  max-width: 600px;
  padding: 20px;
  margin-top: 100px;
  margin-left: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.add-product-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-product-form input,
.add-product-form textarea,
.add-product-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.category-container {
  position: relative;
}

.category-container select {
  appearance: none;
  background-color: white;
  cursor: pointer;
}

.category-container::before {
  content: "▼";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #333;
  pointer-events: none;
}

.category-container select {
  padding-left: 30px;
}

.add-product-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-product-form button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
