.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
  }

  .fournisseur-header {
    position: fixed;
    top: 60px; 
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  .content {
    margin-top: 120px; 
    padding: 20px;
    overflow-y: auto; 
  }
  